body {
    width: 220px;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: right;
}

input[type="text"] {
    width: 100%; 
    box-sizing: border-box;
}