body {
    width: 220px;
    background: var(--color-primary);
    color: var(--color-text);
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    align-items: center;
    background: var(--color-primary);
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
    // padding: 0 1.5rem;

}

h1 {
    margin: 0;
    padding: 0;
}
.spacer {
    flex-grow: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: right;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

:root {
    --color-background: white;
    --color-background-dark: #121212;
    --color-background-dark-lighten: #2b2b2b;
    --color-primary: #4608ad;
    --color-primary-lighten: #f4f1fa;
    --color-secondary: #fafafa;
    --color-secondary-dark: #1e1e1e;
    --color-border: #ebebeb;
    --color-border-dark: #2b2b2b;
    --color-text: #4a4a4a;
    --color-text-lighten: #7a7a7a;
    --color-text-dark: var(--color-background);
    --color-text-dark-lighten: #979797;
    --color-anchor-dark: var(--color-text-dark);
    --color-success: #50b154;
    --color-error: #ff5252;
}